html, body {
  width: 100%;
  height: 100%;
}

/* Header CSS*/

.HeaderBox {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: flex-start;
}

.Sesori {
  width: 10%px;
  height: 80px;
}

.MenuBox {
  width: 80%;
  display: flex;
  justify-content: space-around;
  border-style: solid;
  border-image: linear-gradient(#2117B7 0%, #D637A9 100%);
  border-image-slice: 1;
}

.ClickHeader {
  width: 80px;
  padding-top: 23px;
  font-size: 20px;
  font-weight: bold;
}

/* NoticePage CSS*/

.MainNotice {
  width: 100%;
  height: 100%;
}

.ShowNotice {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-around;
}

.LeftSide {
  width: 200px;
  height: 150px;
  margin-top: 20px;
  text-align: center;
}

.ReadNotice {
  width: 500px;
  height: 600px;
  margin-top: 20px;
  background-color: #34558B;}